/*
    :link
    ::after
    ::before
    ::selection
    :visited
    ::first-letter
    :hover

 */
 p::selection{
    background-color: bisque;
    color: brown;
 }
 a:visited{
    color: darkkhaki;
 }
.External{
    color: aquamarine;
    font-family: fantasy;
}
#id{
    font-family: fantasy;
    font-stretch: condensed;
    font-display:inherit;
    color: red;
}
p,span{
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
}
span,p{
    color:cornflowerblue;
    font:bold;
}
input[type="text"]{
    color:yellow;
}

input[type="tel"]{
    color:brown;
}

a[href]{
    color: black;
}
a:hover{
    text-decoration: underline overline line-through wavy dotted dashed double blink;
    color: cornflowerblue;
}
a:active{
    color: blueviolet;
}
img[src]{
    border: 1px solid black;
}
h5::after{
    content:" bro";
}
h5::before{
    content:"vamsi ";
}
h5:hover{
    color:blue;
}

